annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio @ file:///C:/b/abs_847uobe7ea/croot/anyio_1706220224037/work
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi @ file:///C:/b/abs_90yq4lmu83/croot/cffi_1726856448345/work
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1699473800648/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
cryptography @ file:///C:/b/abs_35g500qir4/croot/cryptography_1724940575116/work
dnspython @ file:///C:/b/abs_449_z2xz29/croot/dnspython_1703097012342/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1718984626658/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1726622777815/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1722597621840/work
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
markdown-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markdown-it-py_1699473886965/work
MarkupSafe @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markupsafe_1707425732791/work
mdurl @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdurl_1699473506455/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///C:/b/abs_b7acb4hnl_/croot/pydantic_1725040540545/work
pydantic_core @ file:///C:/b/abs_3ax4s6v28p/croot/pydantic-core_1724790490828/work
Pygments @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pygments_1699474141968/work
pymongo @ file:///C:/b/abs_ffb_ajrm6g/croot/pymongo_1726070959747/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1706018097647/work
python-multipart @ file:///C:/b/abs_31h4mrhodq/croot/python-multipart_1722930334768/work
rich @ file:///C:/b/abs_21nw9z7xby/croot/rich_1720637504376/work
setuptools==75.1.0
shellingham @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/shellingham_1699475566718/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
starlette @ file:///C:/b/abs_584arzjt6c/croot/starlette-recipe_1724683216853/work
typer==0.12.5
typer-slim==0.12.5
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
uvicorn @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/uvicorn-split_1699568993341/work
wheel==0.44.0
